* {
  font-family: "Spectral", serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 30px;
}

.c {
  text-align: center;
}

.h {
  display: none;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  cursor: pointer;
}

a.s {
  border: 1px solid #000;
  background: #e6a117;
  padding: 10px;
  color: #fff;
}

.text {
  width: 49%;
  padding: 1%;
  border: 1px solid #000;
  border-bottom: none;
}

.t,
.t:focus,
.t:active {
  width: 49%;
  height: 350px;
  padding: 1%;
  resize: none;
  outline: none;
  font-size: 0.8em;
  text-decoration: none;
  border: 1px solid #000;
  font-family: "Courier New", Courier, monospace;
}

.b {
  font-size: 1em;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  background: none;
  padding: 0.5%;
  border: 1px solid #000;
}

.d {
  background-color: #fbfbfb;
  padding: 20px;
}

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  font-size: 0.8em;
}

@media only screen and (max-width: 768px) {
  .t {
    width: 100%;
  }
  .texts {
    display: none;
  }
}
