* {
  font-family: 'Spectral', serif;
}

body {
  padding: 20px 50px;
}

.c {
  text-align: center;
}

.h {
  display: none;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  padding-bottom: 3px;
  cursor: pointer;
}

a.s{
  color: #e6a117;
  border-bottom: 1px solid #e6a117;
}

.t,
.t:focus,
.t:active {
  width: 45%;
  height: 350px;
  padding: 1%;
  resize: none;
  outline: none;
  font-size: 0.8em;
  text-decoration: none;
  border: 1px solid #000;
  font-family: "Courier New", Courier, monospace;
}

.b {
  font-size: 1em;
  margin: 20px auto;
  display: block;
  cursor: pointer;
  background: none;
  padding: 0.5%;
  border: 1px solid #000;
}

.d {
  background-color: #fbfbfb;
  padding: 20px;
}

pre{
  display: block;
  font-family: monospace;
  white-space: pre;
  font-size: 0.8em;
}

@media only screen and (max-width: 768px) {
  .t {
    width: 100%;
  }
}